@import "functions";
@import "_variables";
@import "_mixins";

@import "_reboot";
@import "_grid";
@import "_media";

@import "_utilities";

body{
  background-color: #f0f2f5;
  padding-top: 60px;
}
.list-text {
  .list-group-item {

    padding: 0.75rem 0rem;
  }

  .list-text-title {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .list-text-action {
    span {
      display: inline-block;
      color: #909399;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }

    i {
      margin-right: 5px;
    }
  }
}
.list-group-item {
  border-bottom: 1px dashed #d1d5de;
}
.article {
  .article-title {
    font-size: 20px;
    font-weight: 600;
  }

  .article-mate {
    padding: 10px 0px;

    span {
      display: inline-block;
      margin-right: 15px;
      color: #666;
    }
  }

  .article-body {
    font-size: 15px;
    line-height: 1.8;
    color: #454545;

    img {
      max-width: 80%;
    }
  }

  .article-attach {
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    color: rgb(0, 102, 204);
    text-decoration-line: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
  }

  .article-footer {
    padding: 15px 0;
  }
}
