$filter: 'lay-filter';
.#{$filter}-container {
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.lay-tree-container{
  margin-left: -20px;
  box-shadow: 1px 0px 0 0 #e8e8e8;
  .lay-tree{
    line-height: 42px;
    .el-tree-node__content{
      height: 42px;
    }
   .el-tree-node__children .is-current .el-tree-node__content{
      background-color: #3A3A3A;
    }
  }
}

